body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Стиль для .container на іншій частині сторінки */
/* Стиль для .container на іншій частині сторінки */
.container {
    
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 270px; /* Збільште лівий відступ, щоб уникнути перекриття сайдбаром */
}

h1 {
    color: #333;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #0074D9;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.column {
    width: 30%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.column h2 {
    color: #333;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 3px;
    cursor: grab;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 150px;
    overflow: auto;
}

li span {
    margin-bottom: 10px;
    word-wrap: break-word;
}

li button {
    background-color: #FF4136;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    align-self: flex-end;
}

li button:hover {
    background-color: #D83B30;
}

/* Стиль для бокового навігатора (sidebar) */
/* Стиль для бокового навігатора (sidebar) */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    padding: 20px;
    position: fixed; /* Закріпити сайдбар */
    top: 0;
    left: 0;
    height: 100vh; /* Споживати всю висоту сторінки */
    overflow: auto; /* Додавання прокрутки, якщо контент не поміщається */
}




.logo-container {
    text-align: center; /* Вирівнювання лого по центру */
    margin-bottom: 50px; /* Відступи вниз для лого-контейнера */
}

.logo {
    font-size: 30px; /* Розмір шрифту для лого */
}

.nav-links {
    list-style: none; /* Видалення маркерів списку */
    padding: 0;
}

.nav-links li {
    margin: 20px 0; /* Відступи між пунктами меню */
}

.nav-links a {
    text-decoration: none; /* Видалення підкреслення для посилань */
    color: #000000; /* Колір тексту посилань */
    font-size: 16px; /* Розмір шрифту посилань */
    transition: color 0.3s; /* Плавна зміна кольору тексту при наведенні */
    text-align: center;
}

.nav-links a:hover {
    color: #f0a500; /* Колір тексту при наведенні */
}
