body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
  }

  .container h2 {
    margin: 0 0 20px 0;
    color: #007BFF;
  }

  .container input {
    width: 80%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .container button {
    background: #007BFF;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .toggle-form {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  #loginBtn, #registerBtn {
    padding: 8px 20px;
    background: transparent;
    border: none;
    color: #007BFF;
    cursor: pointer;
    transition: 0.3s;
  }

  #loginBtn:hover, #registerBtn:hover {
    background: #007BFF;
    color: #fff;
  }

  .form {
    display: none;
  }

  .form.active {
    display: block;
  }